body{
    margin: 0px;
}

.banner{
    height: 600px;
    background-image: url("banner2.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
}

.name{
    color: white;
    text-align: center;
    width: 100%;
    align-self: center;
    font-size: 80px;
    font-family: "Raleway";
}